.homeScreen { overflow: hidden; }

.homeScreen__header {
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 64px;
  padding-bottom: 32px;
}

.homeTagline {
  padding-top: 16px;
  padding-left: 32px;
  padding-right: 32px;
  max-width: 600px;
  @include marginAuto;
}

.homeCallout {
  padding-top: 16px;
  padding-left: 32px;
  padding-right: 32px;
  max-width: 500px;
  @include marginAuto;

  @media (min-width: $md) {
    float: left;
    width: 33%;
  }
}

.homeCallout__image {
  display: block;
  max-width: 100%;
  margin-top: 48px;
  @include marginAuto;
}

// content section specific
.homeCallout--icons {
  margin-top: 90px;

  @media (min-width: $md) {
    margin-top: 0;
  }
}

.calloutContainer {
  position: relative;
  overflow: hidden;
  background-color: $ice-blue;
  padding-top: 60px;
  padding-bottom: 100px;
  clear: both;
}

.blueBgOverlap {
  position: relative;
  background-color: transparent;
}

.blueBgOverlap__panel {
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 80px;
  bottom: 0px;
  left: 0;
  background-color: $ice-blue;
}

.productDetailContainer {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 32px;
  padding-right: 32px;
}

.productDetailHeader h3 {
  //line-height: 31px;
  //font-weight: bold;

}

.productDetail:nth-child(2) {
  padding-top: 46px;
}

.productDetail {
  padding-top: 65px;
  clear: both;
  overflow: hidden;
}

.productDetail h3 {
  font-size: 24px;

  margin-top: 32px;
  color: $mid-blue;
  //font-size: 20px;
  @media (min-width: $md) {
  font-size: 34px;
  }
}

.productDetail p {
  font-size: 18px;
  //line-height: 22px;
  //letter-spacing: -0.2px;
  color: $slate;
  @media (min-width: $md) {
    font-size: 24px;
  }
}

.productDetail__copy {
  text-align: center;

  @media (min-width: $md) {
    text-align: left;
    padding-left: 24px;
    padding-right: 24px;

    float: right;
    width: 50%;
  }
}

.productDetail__image {
  @media (min-width: $md) {
    //@include marginAuto;
    float: right;
    width: 50%;
  }
}

.productDetail__copy--left {
  @media (min-width: $md) {
    //@include marginAuto;
    float: left;
    width: 50%;
  }

}

.productDetail__image--left {
  @media (min-width: $md) {
    //@include marginAuto;
    float: left;
    width: 50%;
  }
}

.studentAmbassadorCalloutContainer {
  background-color: $ice-blue;
  padding-top: 18px;
  padding-bottom: 46px;

  @media (min-width: $md) {
    padding-top: 46px;
  }
}

.studentCallout h2 {
}

.studentCallout h3 {
  padding-left: 32px;
  padding-right: 32px;
  color: $slate;
  font-weight: 400; // overrides type

  @media (min-width: $md) {
    max-width: 700px;
    @include marginAuto;
  }
}

.studentCallout__image {
  padding: 0 6px;
  @include marginAuto;
}

.studentCallout__cta {
  display: block;
  width: 132px;
  height: 59px;
  border-radius: 100px;
  margin-top: 32px;
  color: $slate;
  border-color: $slate;
  border: 2px solid;
  background: transparent;
  line-height: 59px;
  text-align: center;
  //padding: 16px;
  text-decoration: none;
  @include marginAuto;
}

.signupCTAContainer {
  padding-top: 88px;
  padding-bottom: 115px;
}

.signupCTA {

}

.signupCTA h2 {
  //font-size: 25px;
  //line-height: 31px;
  //font-weight: bold;
  //letter-spacing: -0.3px;
  padding: 0 50px;
}

.signupCTA p {
  padding-left: 32px;
  padding-right: 32px;
  //font-size: 15px;
  //line-height: 22px;
  //letter-spacing: -0.2px;
  color: $slate;
}

.signupCTA__cta {
  display: inline-block;
  width: 120px;
  height: 59px;
  line-height: 59px;
  text-align: center;
  border-radius: 100px;
  margin-top: 32px;
  color: $slate;
  border-color: $slate;
  border: 2px solid;
  background: transparent;
  //padding: 16px;
}

.signupCTA__buttonContainer {
  width: 256px;
  @include marginAuto;
}

.signupCTA__cta--pop {
  background-color: $mid-blue;
  border-color: $mid-blue;
  color: $white;
  margin-right: 16px;
}

