$black: #050100;
$white: #FFFFFF;

// z
$dark: #1d2b3a;
$slate: #53677d;

$perrywinkle-two: #73a2d6;
$ice-blue: #f6faff;
$mid-blue: #1b69ba;
$light-blue-grey-two: #d4dde7;
$very-light-blue: #f1f8ff;

$lighter-grey: #F6FAFF;
$light-grey: #F3F5F8;
$light-grey-two: #d4dde7;
$pale-grey-two: #f3f5f8;

$steel: #79899b;
$slate: #53677d;

// /z

.cc-steel { color: $steel; }
.cbg-steel { background-color: $steel; }

.cc-slate { color: $slate; }
.cc-dark { color: $dark; }
