$md: 768px;
$lg: 1000px;
$huge: 1200px;

// foundation
@import '../../node_modules/normalize.css';
@import 'mixins.scss';
@import 'colors.scss';
@import 'type.scss';

// content areas/screens
@import 'screens.scss';
@import 'search.scss';

// components
@import 'navbar.scss';
@import 'search-bar.scss';
@import 'tagbar.scss';
@import 'filter-menu.scss';

* { box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  color: $dark;
  //background: $white;
  //font-family: 'Comic Sans', arial, sans-serif; // fast and furious eyeball check
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.u-block { display: block; }
.u-nowrap { white-space: nowrap; }
.u-o-hidden { overflow: hidden; }
.u-responsive { max-width: 100%; display: block; }
.u-margin-auto { @include marginAuto; }
.u-floatContainer { overflow: hidden; }
.u-floatLeft { float: left; }
.u-floatRight { float: right; }

.u-clearFix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
 }

.contentWrap { @include contentWrap; }
.contentWrap--narrow { max-width: 600px; }

.footer {
  background-color: $dark;
  color: $white;
  padding: 42px 20px 23px;
  //margin-top: 180px;
}

.footer__brand {
  text-align: center;
}

.footer__nav nav {
  display: flex;
  justify-content: center;
}

.footer__anchor {
  display: inline-block;
  padding: 8px;
  color: $white;
}

.footer__anchor:first-child {
  padding-left: 0;
}

.footer__copyright {
  font-size: 11px;
  line-height: 16px;
  margin-top: 63px;
  text-align: center;
}
